<a href="https://colab.research.google.com/github/passgiant/AIFFEL_Quest/blob/main/Python_quest/MainQuest/main_test06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [366]:
import csv
import random

class Aiffel:
    x = {"김건": [0, 0, 0, 0], "김경민": [0, 0, 0, 0], "김소연": [0, 0, 0, 0], "김영신": [0, 0, 0, 0], "박근수": [0, 0, 0, 0], "박영수": [0, 0, 0, 0], "박영준": [0, 0, 0, 0], "서원영": [0, 0, 0, 0], "신지만": [0, 0, 0, 0], "심지안": [0, 0, 0, 0],
         "이규상": [0, 0, 0, 0], "이윤상": [0, 0, 0, 0], "이진영": [0, 0, 0, 0], "임현석": [0, 0, 0, 0], "전요한": [0, 0, 0, 0], "전재영": [0, 0, 0, 0], "조대희":[0, 0, 0, 0]}
    g_s_dict = {"힌튼":0, "알트만":0, "응":0, "하사비스":0}

    def __init__(self, name, enter_year, class_num, class_name):
        self.name = name
        self.enter_year = str(enter_year)
        self.class_num = str(class_num)
        self.class_name = class_name

    def pn_g(self):
        people_dict = dict(sorted(Aiffel.x.items()))
        people_li = list(people_dict)

        YY = self.enter_year[2:4]
        NN = self.class_num
        if self.class_name == "코어":
            C = "2"
        elif self.class_name == "리서치":
            C = "1"
        XX = 0
        for i, k in enumerate(people_li):
            XX = str(i + 1)
            XX = XX.zfill(2)
            personal_num = YY + NN + C + XX
            Aiffel.x[k][0] = personal_num

        return Aiffel.x

    def get_id_num(self):
        x = self.pn_g()
        people_li_val = x.values()
        print(len(people_li_val))

    def score(self, plus):
        if 1 <= plus <= 3:
            Aiffel.x[self.name][2] += plus
            Aiffel.x[self.name][1] += plus
        return Aiffel.x[self.name][1]
    def penalty(self, minus):
        if minus < 0:
            Aiffel.x[self.name][3] += minus
            Aiffel.x[self.name][1] += minus
        return Aiffel.x[self.name][1]

    def display_info(self):
        people_dict = self.pn_g()
        f = open('aiffel_name_list.csv', 'w', newline='')
        wr = csv.writer(f)
        li = []
        name_li = people_dict.keys()
        class_num_li = people_dict.values()
        li.append(name_li)
        li.append(class_num_li)
        class_name = "코어"
        class_name_li = []
        for i in range(len(name_li)):
            class_name_li.append(class_name)
        li.append(class_name_li)
        score_total_li = []
        for i in name_li:
            score_total_li.append(Aiffel.x[i][1])
        li.append(score_total_li)
        score_plus_li = []
        for i in name_li:
            score_plus_li.append(Aiffel.x[i][2])
        li.append(score_plus_li)
        score_minus_li = []
        for i in name_li:
            score_minus_li.append(Aiffel.x[i][3])
        li.append(score_minus_li)
        for i in li:
            wr.writerow(i)
        f.close()

        f = open("aiffel_name_list.csv", 'r')
        rdr = csv.reader(f)

        rt_li = []

        for line in rdr:
            rt_li.append(line)
        f.close()

        return rt_li

    def del_grew(self, *args):
        info = self.display_info()
        for i, j in enumerate(info):
            for k, l in enumerate(j):
                args = list(args)
                for y in args:
                    if l == y:
                        del Aiffel.x[y]

        return Aiffel.x

class Aiffel_Group(Aiffel):
    def ran_group(self):
        grews = self.display_info()
        group = ["상생", "신뢰", "열정", "이끔", "성장", "가치", "공유", "확산"]
        grews_name = grews[0]
        group_li = []
        quotient = len(grews_name) // len(group)
        remainder = len(grews_name) % len(group)
        group2 = group*quotient
        group0 = []
        for i in range(remainder):
            random.seed(1)
            group1 = random.choice(group)
            group0.append(group1)
        group2 += group0
        random.seed(1)
        random.shuffle(group2)
        grews.append(group2)

        return grews

    def group2guild_score(self, gr_name, s):
        info1 = self.ran_group()
        d = Aiffel_Guild("김영진", 2023, 27, "코어")
        info2 = d.ran_group()

        for i in info1:
            for j, k in enumerate(i):
                if gr_name == "상생" and k == "상생":
                    if info2[7][j] == "힌튼":
                        d.guild_score("힌튼", s)
                    elif info2[7][j] == "알트만":
                        d.guild_score("알트만", s)
                    elif info2[7][j] == "응":
                        d.guild_score("응", s)
                    elif info2[7][j] == "하사비스":
                        d.guild_score("하사비스", s)
                elif gr_name == "신뢰" and k == "신뢰":
                    if info2[7][j] == "힌튼":
                        d.guild_score("힌튼", s)
                    elif info2[7][j] == "알트만":
                        d.guild_score("알트만", s)
                    elif info2[7][j] == "응":
                        d.guild_score("응", s)
                    elif info2[7][j] == "하사비스":
                        d.guild_score("하사비스", s)
                elif gr_name == "열정" and k == "열정":
                    if info2[7][j] == "힌튼":
                        d.guild_score("힌튼", s)
                    elif info2[7][j] == "알트만":
                        d.guild_score("알트만", s)
                    elif info2[7][j] == "응":
                        d.guild_score("응", s)
                    elif info2[7][j] == "하사비스":
                        d.guild_score("하사비스", s)
                elif gr_name == "이끔" and k == "이끔":
                    if info2[7][j] == "힌튼":
                        d.guild_score("힌튼", s)
                    elif info2[7][j] == "알트만":
                        d.guild_score("알트만", s)
                    elif info2[7][j] == "응":
                        d.guild_score("응", s)
                    elif info2[7][j] == "하사비스":
                        d.guild_score("하사비스", s)
                elif gr_name == "성장" and k == "성장":
                    if info2[7][j] == "힌튼":
                        d.guild_score("힌튼", s)
                    elif info2[7][j] == "알트만":
                        d.guild_score("알트만", s)
                    elif info2[7][j] == "응":
                        d.guild_score("응", s)
                    elif info2[7][j] == "하사비스":
                        d.guild_score("하사비스", s)
                elif gr_name == "가치" and k == "가치":
                    if info2[7][j] == "힌튼":
                        d.guild_score("힌튼", s)
                    elif info2[7][j] == "알트만":
                        d.guild_score("알트만", s)
                    elif info2[7][j] == "응":
                        d.guild_score("응", s)
                    elif info2[7][j] == "하사비스":
                        d.guild_score("하사비스", s)
                elif gr_name == "공유" and k == "공유":
                    if info2[7][j] == "힌튼":
                        d.guild_score("힌튼", s)
                    elif info2[7][j] == "알트만":
                        d.guild_score("알트만", s)
                    elif info2[7][j] == "응":
                        d.guild_score("응", s)
                    elif info2[7][j] == "하사비스":
                        d.guild_score("하사비스", s)
                elif gr_name == "확산" and k == "확산":
                    if info2[7][j] == "힌튼":
                        d.guild_score("힌튼", s)
                    elif info2[7][j] == "알트만":
                        d.guild_score("알트만", s)
                    elif info2[7][j] == "응":
                        d.guild_score("응", s)
                    elif info2[7][j] == "하사비스":
                        d.guild_score("하사비스", s)

    def display_info(self):
        rt_li = super().display_info()
        rt_li.append(Aiffel.g_s_dict)

        return rt_li

class Aiffel_Guild(Aiffel):
    def ran_group(self):
        grews = self.display_info()
        group = ["힌튼", "알트만", "응", "하사비스"]
        grews_name = grews[0]
        group_li = []
        quotient = len(grews_name) // len(group)
        remainder = len(grews_name) % len(group)
        group2 = group*quotient
        group0 = []
        for i in range(remainder):
            random.seed(1)
            group1 = random.choice(group)
            group0.append(group1)
        group2 += group0
        random.shuffle(group2)
        grews.append(group2)

        return grews

    def guild_score(self, g_name, g_score):
        info = self.ran_group()
        for i in info:
            for j, k in enumerate(i):
                if k == "힌튼" and g_name == "힌튼":
                    if g_score > 0:
                        info[4][j] = int(info[4][j])
                        info[3][j] = int(info[3][j])
                        info[4][j] += g_score
                        info[3][j] += g_score
                    else:
                        info[5][j] = int(info[5][j])
                        info[3][j] = int(info[3][j])
                        info[5][j] += g_score
                        info[3][j] += g_score
                elif k == "알트만" and g_name == "알트만":
                    if g_score > 0:
                        info[4][j] = int(info[4][j])
                        info[3][j] = int(info[3][j])
                        info[4][j] += g_score
                        info[3][j] += g_score
                    else:
                        info[5][j] = int(info[5][j])
                        info[3][j] = int(info[3][j])
                        info[5][j] += g_score
                        info[3][j] += g_score
                elif k == "응" and g_name == "응":
                    if g_score > 0:
                        info[4][j] = int(info[4][j])
                        info[3][j] = int(info[3][j])
                        info[4][j] += g_score
                        info[3][j] += g_score
                    else:
                        info[5][j] = int(info[5][j])
                        info[3][j] = int(info[3][j])
                        info[5][j] += g_score
                        info[3][j] += g_score
                        Aiffel.x[i][1] += g_score
                        Aiffel.x[i][3] += g_score
                elif k == "하사비스" and g_name == "하사비스":
                    if g_score > 0:
                        info[4][j] = int(info[4][j])
                        info[3][j] = int(info[3][j])
                        info[4][j] += g_score
                        info[3][j] += g_score
                    else:
                        info[5][j] = int(info[5][j])
                        info[3][j] = int(info[3][j])
                        info[5][j] += g_score
                        info[3][j] += g_score

        if g_name == "힌튼":
            Aiffel.g_s_dict["힌튼"] += g_score
        elif g_name == "알트만":
            Aiffel.g_s_dict["알트만"] += g_score
        elif g_name == "응":
            Aiffel.g_s_dict["응"] += g_score
        elif g_name == "하사비스":
            Aiffel.g_s_dict["하사비스"] += g_score

        print(Aiffel.g_s_dict)
        return info

    def display_info(self):
        rt_li = super().display_info()
        rt_li.append(Aiffel.g_s_dict)

        return rt_li

In [367]:
a = Aiffel("김건", 2023, 27, "코어")

In [368]:
a.pn_g()
# pn_g 메서드를 수정할 때 똑같은 학번이 나와서 챗지피티에 물어보았습니다.
# 그래서 for 문의 범위를 약간 수정했습니다.

{'김건': ['2327201', 0, 0, 0],
 '김경민': ['2327202', 0, 0, 0],
 '김소연': ['2327203', 0, 0, 0],
 '김영신': ['2327204', 0, 0, 0],
 '박근수': ['2327205', 0, 0, 0],
 '박영수': ['2327206', 0, 0, 0],
 '박영준': ['2327207', 0, 0, 0],
 '서원영': ['2327208', 0, 0, 0],
 '신지만': ['2327209', 0, 0, 0],
 '심지안': ['2327210', 0, 0, 0],
 '이규상': ['2327211', 0, 0, 0],
 '이윤상': ['2327212', 0, 0, 0],
 '이진영': ['2327213', 0, 0, 0],
 '임현석': ['2327214', 0, 0, 0],
 '전요한': ['2327215', 0, 0, 0],
 '전재영': ['2327216', 0, 0, 0],
 '조대희': ['2327217', 0, 0, 0]}

In [369]:
a.get_id_num()

17

In [370]:
a.score(2)

2

In [371]:
a.penalty(-1)

1

In [372]:
a.display_info()

[['김건',
  '김경민',
  '김소연',
  '김영신',
  '박근수',
  '박영수',
  '박영준',
  '서원영',
  '신지만',
  '심지안',
  '이규상',
  '이윤상',
  '이진영',
  '임현석',
  '전요한',
  '전재영',
  '조대희'],
 ["['2327201', 1, 2, -1]",
  "['2327202', 0, 0, 0]",
  "['2327203', 0, 0, 0]",
  "['2327204', 0, 0, 0]",
  "['2327205', 0, 0, 0]",
  "['2327206', 0, 0, 0]",
  "['2327207', 0, 0, 0]",
  "['2327208', 0, 0, 0]",
  "['2327209', 0, 0, 0]",
  "['2327210', 0, 0, 0]",
  "['2327211', 0, 0, 0]",
  "['2327212', 0, 0, 0]",
  "['2327213', 0, 0, 0]",
  "['2327214', 0, 0, 0]",
  "['2327215', 0, 0, 0]",
  "['2327216', 0, 0, 0]",
  "['2327217', 0, 0, 0]"],
 ['코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어'],
 ['1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['2',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0'],
 ['-1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0']]

In [373]:
a.del_grew("김경민", "김영신")

{'김건': ['2327201', 1, 2, -1],
 '김소연': ['2327203', 0, 0, 0],
 '박근수': ['2327205', 0, 0, 0],
 '박영수': ['2327206', 0, 0, 0],
 '박영준': ['2327207', 0, 0, 0],
 '서원영': ['2327208', 0, 0, 0],
 '신지만': ['2327209', 0, 0, 0],
 '심지안': ['2327210', 0, 0, 0],
 '이규상': ['2327211', 0, 0, 0],
 '이윤상': ['2327212', 0, 0, 0],
 '이진영': ['2327213', 0, 0, 0],
 '임현석': ['2327214', 0, 0, 0],
 '전요한': ['2327215', 0, 0, 0],
 '전재영': ['2327216', 0, 0, 0],
 '조대희': ['2327217', 0, 0, 0]}

In [374]:
b = Aiffel_Group("김건", 2023, 27, "코어")

In [375]:
b.ran_group()

[['김건',
  '김소연',
  '박근수',
  '박영수',
  '박영준',
  '서원영',
  '신지만',
  '심지안',
  '이규상',
  '이윤상',
  '이진영',
  '임현석',
  '전요한',
  '전재영',
  '조대희'],
 ["['2327201', 1, 2, -1]",
  "['2327202', 0, 0, 0]",
  "['2327203', 0, 0, 0]",
  "['2327204', 0, 0, 0]",
  "['2327205', 0, 0, 0]",
  "['2327206', 0, 0, 0]",
  "['2327207', 0, 0, 0]",
  "['2327208', 0, 0, 0]",
  "['2327209', 0, 0, 0]",
  "['2327210', 0, 0, 0]",
  "['2327211', 0, 0, 0]",
  "['2327212', 0, 0, 0]",
  "['2327213', 0, 0, 0]",
  "['2327214', 0, 0, 0]",
  "['2327215', 0, 0, 0]"],
 ['코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어'],
 ['1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 ['2', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 ['-1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 {'힌튼': 0, '알트만': 0, '응': 0, '하사비스': 0},
 ['열정',
  '열정',
  '상생',
  '열정',
  '공유',
  '가치',
  '이끔',
  '열정',
  '확산',
  '열정',
  '성장',
  '신뢰',
  '열정',
  '열정',
  '열정']]

In [376]:
b.group2guild_score("열정", 2)
# 열정 그룹원이 8명이기 때문에 8번 출력되는 것 같습니다.

{'힌튼': 0, '알트만': 0, '응': 2, '하사비스': 0}
{'힌튼': 0, '알트만': 0, '응': 4, '하사비스': 0}
{'힌튼': 0, '알트만': 2, '응': 4, '하사비스': 0}
{'힌튼': 2, '알트만': 2, '응': 4, '하사비스': 0}
{'힌튼': 2, '알트만': 2, '응': 4, '하사비스': 2}
{'힌튼': 2, '알트만': 4, '응': 4, '하사비스': 2}
{'힌튼': 2, '알트만': 6, '응': 4, '하사비스': 2}
{'힌튼': 2, '알트만': 8, '응': 4, '하사비스': 2}

In [377]:
b.display_info()

[['김건',
  '김소연',
  '박근수',
  '박영수',
  '박영준',
  '서원영',
  '신지만',
  '심지안',
  '이규상',
  '이윤상',
  '이진영',
  '임현석',
  '전요한',
  '전재영',
  '조대희'],
 ["['2327201', 1, 2, -1]",
  "['2327202', 0, 0, 0]",
  "['2327203', 0, 0, 0]",
  "['2327204', 0, 0, 0]",
  "['2327205', 0, 0, 0]",
  "['2327206', 0, 0, 0]",
  "['2327207', 0, 0, 0]",
  "['2327208', 0, 0, 0]",
  "['2327209', 0, 0, 0]",
  "['2327210', 0, 0, 0]",
  "['2327211', 0, 0, 0]",
  "['2327212', 0, 0, 0]",
  "['2327213', 0, 0, 0]",
  "['2327214', 0, 0, 0]",
  "['2327215', 0, 0, 0]"],
 ['코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어'],
 ['1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 ['2', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 ['-1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 {'힌튼': 2, '알트만': 8, '응': 4, '하사비스': 2}]

In [378]:
c = Aiffel_Guild("김건", 2023, 27, "코어")

In [379]:
c.ran_group()

[['김건',
  '김소연',
  '박근수',
  '박영수',
  '박영준',
  '서원영',
  '신지만',
  '심지안',
  '이규상',
  '이윤상',
  '이진영',
  '임현석',
  '전요한',
  '전재영',
  '조대희'],
 ["['2327201', 1, 2, -1]",
  "['2327202', 0, 0, 0]",
  "['2327203', 0, 0, 0]",
  "['2327204', 0, 0, 0]",
  "['2327205', 0, 0, 0]",
  "['2327206', 0, 0, 0]",
  "['2327207', 0, 0, 0]",
  "['2327208', 0, 0, 0]",
  "['2327209', 0, 0, 0]",
  "['2327210', 0, 0, 0]",
  "['2327211', 0, 0, 0]",
  "['2327212', 0, 0, 0]",
  "['2327213', 0, 0, 0]",
  "['2327214', 0, 0, 0]",
  "['2327215', 0, 0, 0]"],
 ['코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어'],
 ['1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 ['2', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 ['-1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 {'힌튼': 2, '알트만': 8, '응': 4, '하사비스': 2},
 ['응',
  '응',
  '힌튼',
  '알트만',
  '응',
  '알트만',
  '하사비스',
  '힌튼',
  '하사비스',
  '하사비스',
  '힌튼',
  '알트만',
  '알트만',
  '알트만',
  '알트만']]

In [380]:
c.guild_score("응", 2)

{'힌튼': 2, '알트만': 8, '응': 6, '하사비스': 2}

[['김건',
  '김소연',
  '박근수',
  '박영수',
  '박영준',
  '서원영',
  '신지만',
  '심지안',
  '이규상',
  '이윤상',
  '이진영',
  '임현석',
  '전요한',
  '전재영',
  '조대희'],
 ["['2327201', 1, 2, -1]",
  "['2327202', 0, 0, 0]",
  "['2327203', 0, 0, 0]",
  "['2327204', 0, 0, 0]",
  "['2327205', 0, 0, 0]",
  "['2327206', 0, 0, 0]",
  "['2327207', 0, 0, 0]",
  "['2327208', 0, 0, 0]",
  "['2327209', 0, 0, 0]",
  "['2327210', 0, 0, 0]",
  "['2327211', 0, 0, 0]",
  "['2327212', 0, 0, 0]",
  "['2327213', 0, 0, 0]",
  "['2327214', 0, 0, 0]",
  "['2327215', 0, 0, 0]"],
 ['코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어'],
 [3, 2, 2, '0', 2, '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 [4, 2, 2, '0', 2, '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 ['-1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 {'힌튼': 2, '알트만': 8, '응': 6, '하사비스': 2},
 ['응',
  '응',
  '힌튼',
  '알트만',
  '응',
  '알트만',
  '하사비스',
  '힌튼',
  '하사비스',
  '하사비스',
  '힌튼',
  '알트만',
  '알트만',
  '알트만',
  '알트만']]

In [381]:
c.display_info()

[['김건',
  '김소연',
  '박근수',
  '박영수',
  '박영준',
  '서원영',
  '신지만',
  '심지안',
  '이규상',
  '이윤상',
  '이진영',
  '임현석',
  '전요한',
  '전재영',
  '조대희'],
 ["['2327201', 1, 2, -1]",
  "['2327202', 0, 0, 0]",
  "['2327203', 0, 0, 0]",
  "['2327204', 0, 0, 0]",
  "['2327205', 0, 0, 0]",
  "['2327206', 0, 0, 0]",
  "['2327207', 0, 0, 0]",
  "['2327208', 0, 0, 0]",
  "['2327209', 0, 0, 0]",
  "['2327210', 0, 0, 0]",
  "['2327211', 0, 0, 0]",
  "['2327212', 0, 0, 0]",
  "['2327213', 0, 0, 0]",
  "['2327214', 0, 0, 0]",
  "['2327215', 0, 0, 0]"],
 ['코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어',
  '코어'],
 ['1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 ['2', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 ['-1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
 {'힌튼': 2, '알트만': 8, '응': 6, '하사비스': 2}]